<p id="notice"><%= notice %></p>

<h1> Hello <%= @profile.first_name %> </h1>
<hr>

<strong>First Name: <%=	@profile.first_name %></strong><br>
<br><strong>Last Name: <%= @profile.last_name %></strong><br>
<br><strong>Email: <%= @profile.user.email %></strong><br>
<br><strong>User Id: <%= @profile.user.id %></strong><br>
<br><strong>Your Previous Lunch Ideas:</strong><br>
<% @profile.user.lunches.each do |lunches| %>

<strong><%= lunches.food_type %></strong><br>
<% end %>

<br><strong>Previous Comments:</strong><br>
<% @profile.user.comments.each do |comments| %>

<strong><%= comments.text %></strong><br>
<% end %>



<%= link_to 'Edit', edit_profile_path(@profile) %> 
