<p id="notice"><%= notice %></p>

<h1>Lunches</h1>

<table>
  <thead>
    <tr>
      <th class="lunchHeader"> Rank   </th>
      <th class="lunchHeader"> Lunch Type   </th>
      <th colspan="1"></th>
      <th class="lunchHeader"> User</th>
      <th colspan="1"></th>
      <th class="lunchHeader"> Tools</th>
    </tr>
  </thead>


  <tbody>
    <% @lunches.each do |lunch| %>
      <tr>
        <td class="insideLunch"><%= lunch.rank %></td>    
        <td class="insideLunch"><strong><%= lunch.food_type %></td> </strong>   
        <td id="ranker" class="insideLunch">
  
          <%= link_to like_lunch_path(lunch), method: :put, class: "btn btn-default btn-sm" do %>
          <span class="glyphicon glyphicon-chevron-up"></span>
          Upvote
          <%= lunch.get_upvotes.size %>
          <% end %>

        </td>
        <td>

          <%= link_to dislike_lunch_path(lunch), method: :put, class: "btn btn-default btn-sm" do %>
          <span class="glyphicon glyphicon-chevron-down"></span>
          Downvote
          <%= lunch.get_downvotes.size %>
          <% end %>

        </td>
        <td class="insideLunch"><%= lunch.user.profile.first_name %></td>
        <td class="insideLunch"><%= link_to 'Show', lunch %></td>
        <td class="insideLunch"><%= link_to 'Edit', edit_lunch_path(lunch) %></td>
        <td class="insideLunch"><%= link_to 'Destroy', {:controller=>:lunches,:action=>:destroy, :id=>lunch}, :method=>:delete %></td>
      </tr>
      
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New lunch', new_lunch_path %>