<p id="notice"><%= notice %></p>

<h1>Lunches</h1>

<table>
  <thead>
    <tr>
      <th class="lunchHeader"> Rank   </th>
      <th class="lunchHeader"> Lunch Type   </th>
      <th colspan="1"></th>
      <th class="lunchHeader"> User</th>
      <th colspan="1"></th>
      <th class="lunchHeader"> Tools</th>
    </tr>
  </thead>

  <tbody>
    <% @lunches.each do |lunch| %>
      <tr>
        <td class="insideLunch"><%= lunch.rank %></td>    
        <td class="insideLunch"><strong><%= lunch.food_type %></td> </strong>   
        <td id="ranker" class="insideLunch">
         
          <div class="upVote"><%= button_to "➜", {:controller => :lunches, :action => :upvote, :id => lunch, disable_with: :upvote} %></div>
          <div class="downVote"><%= button_to "➜", {:controller => :lunches, :action => :downvote, :id => lunch} %></div>
        </td>
        <td class="insideLunch"><%= lunch.user.profile.first_name %></td>
        <td class="insideLunch"><%= link_to 'Show', lunch %></td>
        <td class="insideLunch"><%= link_to 'Edit', edit_lunch_path(lunch) %></td>
        <td class="insideLunch"><%= link_to 'Destroy', {:controller=>:lunches,:action=>:destroy, :id=>lunch}, :method=>:delete %></td>
      
      </tr>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New lunch', new_lunch_path %>