<p id="notice"><%= notice %></p>

<h1>Lunches</h1>

<table>
  <thead>
    <tr>
      <th> Lunch Type |  </th>
      <th> Rank |  </th>
      <th> User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lunches.each do |lunch| %>
      <tr>
        <td><%= lunch.food_type %></td>        
        <td><%= lunch.rank %></td>
<<<<<<< HEAD
        <td><%= lunch.food_type %></td>
        <td><%=  %></td>
        <!-- under construction  -->
        <td><%= pluralize(lunch.votes.count, "Ranks") %></td>

        <td><%= button_to '+1', upvote_lunch_path image_tag("rsz_upvotee.png", :alt => "Upvote"), method: :post %></td>

        <td><%= button_to '-1', downvote_lunch_path image_tag("rsz_downvote.png", :alt => "Downvote"), method: :post %></td><br>
        <!-- under construction  -->
        <td><%= link_to 'Show |', lunch %></td>
        <td><%= link_to 'Edit |', edit_lunch_path %></td>
        <td><%= link_to 'Destroy', lunch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
=======
        
        <td><%= link_to 'Show |', lunch %></td>
        <td><%= link_to 'Edit |', edit_lunch_path(lunch) %></td>
        <td><%= link_to 'Destroy', {:controller=>:lunches,:action=>:destroy, :id=>lunch}, :method=>:delete %></td>
>>>>>>> 6c433364c74155da83263f13fe68f298967a2973
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New lunch', new_lunch_path %>