<p id="notice"><%= notice %></p>

<h1>Lunches</h1>

<table>
  <thead>
    <tr>
      <th>Name |  </th>
      <th> Rank |  </th>
      <th> Lunch Type |  </th>
      <th> User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lunches.each do |lunch| %>
      <tr>
        
        <td><%= lunch.rank %></td>
        <td><%= lunch.food_type %></td>
        <td><%=  %></td>
        <td><%= link_to image_tag("rsz_upvotee.png", :alt => "Upvote"), method: :update, :notice => "You want to up vote this?" %></td>
        <td><%= link_to image_tag("rsz_downvote.png", :alt => "Downvote"), method: :update, data: { confirm: 'You want to up vote this?' } %></td><br>
        <td><%= link_to 'Show |', lunch %></td>
        <td><%= link_to 'Edit |', edit_lunch_path(lunch) %></td>
        <td><%= link_to 'Destroy', lunch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New lunch', new_lunch_path %>