<p id="notice"><%= @lunch.inspect %></p> 

	<p id="notice"><%= notice %></p>

	<strong>Name:</strong>
	<%= %>
</p>

<p>
	<strong>Rank:</strong>
	<%= @lunch.rank %>
</p>

<p>
	<strong>Lunch type:</strong>
	<%= @lunch.food_type %>
</p>
<p>
	<strong>User:</strong>
	<%=  %>
</p>


<%= link_to 'Edit', edit_lunch_path(@lunch) %> |
<%= link_to 'Show List', lunches_path %> | 
