<p id="notice"><%= @lunch.inspect %></p> 

	<p id="notice"><%= notice %></p>

<p>
	<strong>lunch_type:</strong>
	<%= @lunch.lunch_type %>
</p>
<p>
	<strong>Rank:</strong>
	<%= @lunch.rank %>
</p>
<p>
	<strong>User:</strong>
	<%= @lunch.user_id %>
</p>


<%= link_to 'Edit', edit_lunch_path(@lunch) %> |
<%= link_to 'Show List', lunches_path %> | 
