<div class="jumbotron">
  <div class="container">
 <%= image_tag("app_etite.png", :alt => "Title", :class=>"titleimage") %> 
 <br><br>
    <nav>
      <ul class="nav navbar-nav navbar-center">
        <li><%= link_to "Home Page",   root_path %></li>
        <li><%= link_to "Create Lunch", new_lunch_path %></li>
        <li><%= link_to "Profile", users_path %></li>
        <li><%= link_to "Log in",  "#" %></li>
        <li><%= link_to "Register", new_user_path %></li>
      </ul>
    </nav> 
  </div>
</div>  