<div><%= image_tag("apetite.svg", :alt => "Title") %></div>
<header class="navbar navbar-fixed-top navbar-inverse">

<div class="container">

        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home Page",   root_path %></li>
            <li><%= link_to "Create Lunch", new_lunch_path %></li>
            <li><%= link_to "Profile", "#" %></li>
            <li><%= link_to "Log in",  "#" %></li>
            <li><%= link_to "Register", "#" %></li>
            <li><%= link_to "Log Out",   'destroy_user_session_path' %></li>
          </ul> 
        </nav>
      </div>
    </header>