<head>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="http://daneden.github.io/animate.css">
</head>

<header>
  <div class="headerBG">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag("img_header0.png", :alt => "Food Header 0") %> 
      </div>

      <div class="item">
        <%= image_tag("img_header1.png", :alt => "Food Header 1") %> 
      </div>

      <div class="item">
        <%= image_tag("img_header2.png", :alt => "Food Header 2") %> 
      </div>
    </div>


      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" id="arrowLeft">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" id="arrowRight">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>
    <div class="container">
      <nav>
        <ul class="nav navbar-nav navbar-center" id="topNav">
          <li class= "animate hinge"><%= link_to "Home Page", root_path %></li>
          <li class= "animate hinge"><%= link_to "Create Lunch", new_lunch_path %></li>
          <li class= "animate hinge"><%= link_to "Profile", profile_path %></li>
          <li class= "animate hinge"><%= link_to "Log in",  new_user_session_path %></li>
          <li class= "animate hinge"><%= link_to "Register", new_user_registration_path %></li>
          <li class= "animate hinge"><%= link_to "Log Out", destroy_user_session_path %></li>
        </ul> 
      </nav>
    </div>
  </div>
</header>