<!DOCTYPE html>
<html>
<head>
  <title>AppEtite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class ="orange">
		<%= render 'layouts/header' %>
		<html id="sideArrow">&#187;</html>
	<div class="container" id="bodyFiller">
		<%= yield %>
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
